# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.DS_Store

# Jupyter
.ipynb_checkpoints/
# data and large binaries (ignore or manage with git-lfs)
data/
*.sqlite
*.db
*.csv
*.parquet

# IDE/config
.vscode/
